nav {
    background: rgb(108, 232, 255);
    background: linear-gradient(90deg, rgba(108, 232, 255, 1) 14%, rgba(47, 217, 212, 1) 64%, rgba(26, 212, 197, 1) 87%);
    height: 110px;
}

.navbar-light .navbar-brand {
    color: white;
    font-size: 2rem;
}